:root{
    --black:#000000;
    --gray-10:#1A1A1A;
    --gray-20: #333333;
    --gray-30: #4D4D4D;
    --gray-40: #666666;
    --gray-50: #808080;
    --gray-60:#999999;
    --gray-70:#B3B3B3;
    --gray-80:#CCCCCC;
    --gray-90:#e6e6e6;
    --primary-blue: #1341c7;
    --primary-orange:#f15a22;
    --secondary-orange:#f5821f;
    --secondary-green:#1ad99f;
    --secondary-pink: #d43ac2;
    --accent-green: #c2ff42;
}

/*Map*/
#map { 
  position: fixed; 
  top: 0; 
  bottom: 0; 
  width: 100%; 
}

#map.is-loading{
  visibility: hidden;
}

.mapboxgl-ctrl-top-right{
  top:0px;
  right:0px;
}
.mapboxgl-ctrl{
  font-family:"acumin-pro", sans-serif;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib{
  background-color: rgba(0, 0, 0, 0);;
}

/*Logo*/
.map-logo {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 2;
    padding: 8px;
 }
.map-logo img {
    display: block;
    width: 225px;
    height: auto;
  }

/*Legend Container*/
#legend {
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 10;

  max-height: calc(100vh - 60px);
  width: auto;
  overflow: hidden;
  
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);

  font-style: normal;
  font-size: 18px;
  line-height: 1.4;
}

.legend-scroll{
  max-height: calc(100vh - 110px);
  overflow-y: auto;
  padding: 8px 12px 12px;
}

/*Legend Title*/
.legend-title {
  display: flex;
  align-items: center;
  gap: 6px;

  margin-top: 6px;

  font-size: 150%;
  font-weight: 800;
  color: var(--primary-orange);
}


/*Legend Groups*/
.legend-group-title {
  display: flex;
  align-items: center;
  gap: 8px;

  list-style: none;
  cursor: pointer;

  font-size: 120%;
  font-weight: 600;
  font-style: normal;
  color: var(--gray-50);

  transition: color 500ms ease;
}

.legend-group-title::-webkit-details-marker{
  display: none;
}

.legend-group-bar {
  width: 4px;
  height: 18px;
  border-radius: 999px;
  background: var(--gray-30);
  flex: 0 0 4px;
}

.legend-group.is-active > .legend-group-title .legend-group-bar {
  background: var(--primary-orange);
}


/*Legend Layers*/
.legend-row {
  display: flex;
  align-items: left;
  gap: 8px;

  width: 100%;
  margin-top: 4px;
  padding: 3px 16px;

  line-height: 1.2;
  cursor: pointer;
}

.legend-row:hover .legend-layer-name{
  color: var(--gray-20);
}

.legend-row:hover .legend-layer-bar{
  opacity: 100;
  background: var(--gray-40);
  transform: scale(1.15);

}

.legend-layer-bar {
  opacity: 100;
  width: 5px;
  height: auto;
  flex: 0 0 4px;

  border-radius: 0px;
  background: var(--gray-70);

  transform: scale(1);
  transform-origin: center;

  transition:
    background-color 300ms ease,  
    transform 300ms ease,
    opacity 300ms ease;
}
/*
.legend-layer-bar:hover {
  background: var(--gray-50);
  transform: scale(1.15);
}
*/
.legend-layer{
  padding: 1px;
}


.legend-layer.is-active .legend-layer-bar{
  background-color: var(--gray-40);
  transform: scale(1.15);
}

.legend-layer-name {
  color:var(--gray-40);

  transition: 
    color 500ms ease
}

.legend-layer.is-active .legend-layer-name {
  color: var(--gray-20);
  font-weight: 600;
}

/*Legend Icons*/

.legend-icon{
    width: 18px;
    height:18px;
    flex: 0 0 18px;
}
.legend-icon-line{
    width: 26px;
    flex-basis: 26px;
}

/*Nested Legend*/
.nested-legend{
  max-height: 0;
  overflow: hidden;
  opacity: 0;

  margin-left: 30px;
  margin-top: 6px;

  transition:
    max-height 750ms ease,
    opacity 750ms ease,
    margin-top 750ms ease;
}

.nested-legend.is-open{
  max-height: 240px;
  opacity: 1;
  margin-top: 0px;
}

.nested-legend-row{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 5px;
  font-size: 0.8em;
  line-height: 1;
}

.nested-legend-label{
  flex: 1;
  color:var(--gray-70);
}

.legend-layer.is-active .nested-legend-label{
  flex: 1;
  color: var(--gray-50);
  transition: color 1000ms ease;
}

.legend-group.is-active > .legend-group-title {
  color: var(--gray-10);
}

/*Checkboxes*/
.legend-checkbox{
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
/*
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;

  width: 18px;
  height: 18px;
  margin: 0;

  border: 1px solid var(--gray-80);
  border-radius: 14px;
  background: white;

  cursor: pointer;
}


input[type="checkbox"]:checked {
  background: var(--gray-30);
}

input[type="checkbox"]:hover {
  background: var(--secondary-orange);
}

input[type="checkbox"]:checked::after {
  display: block;

  color: white;
  font-size: 14px;
  font-weight:800;
  line-height: 100%;
  text-align: center;
}
*/

/*Popups*/
.mapboxgl-popup {
    max-width: 1500px !important;
    display: block;
    overflow-wrap: break-word;
    word-break: break-word;

    line-height: 1.25em;

    color: var(--gray-40);
    font-family: "acumin-pro", sans-serif;
    font-size: 0.85rem;
}

.mapboxgl-popup-body{
  margin-left: 10px;
}

.mapboxgl-popup-title{
  padding: 10px 0px;

  color: var(--primary-blue);
  font-weight: 800;
  font-size: 1rem;
}

.mapboxgl-popup-subheading{

  color: var(--gray-20);
  font-weight: 800;
}

.mapboxgl-popup-final-score{
  color: var(--primary-blue);
  font-weight: 800;
}